main {
  margin-top: 4dvh;
  display: grid;
}

.about-us-wrapper {
  min-height: 90dvh;
  margin: auto;
}
.about-us-wrapper h1 {
  font-size: 5rem;
  margin: 6dvh auto 3dvh;
}
.about-us-wrapper p {
  margin-top: 1dvh;
  font-weight: 700;
}
/* Validated 17/9-24 with (0 errors, 0 warnings, 2 infos) */
