@font-face {
  font-family: 'RubikBubbles'; /*a name to be used later*/
  src: url('../fonts/RubikBubbles-Regular.ttf'); /*URL to font*/
}

body {
  width: 100%;
  background-color: whitesmoke;
  position: relative;
}

main {
  min-height: 90dvh;
  background-color: whitesmoke;
  /* https://pixabay.com/sv/illustrations/f%C3%A4lt-bakgrund-%C3%A4ng-roligt-1728099/ */
  background-image: url(../img/field-1728099_1280.jpg);
  background-size: cover;
  color: darkslategray;
  margin-top: 6vh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.welcome {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}
.welcome h1 {
  font-size: 6rem;
  margin: 2dvh 2dvw;
  text-align: center;
  text-transform: uppercase;
  font-family: 'RubikBubbles';
}
.content {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 60% 40%;
}
.content img {
  align-self: end;
}
.content_text {
  margin: 1dvh;
}
.content_text h2 {
  font-size: 3.3rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.glass-effect {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(76, 76, 76, 0.26);
}

@media only screen and (max-width: 600px) {
  main {
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgb(204, 231, 240);
    margin-top: 0;
  }
  .welcome {
    border-top: 0.2rem solid #333;
  }
  .welcome h1 {
    font-size: 4rem;
    text-align: center;
  }
}

/* Validated 17/9-24 with (0 errors, 0 warnings, 7 info) */
