:root {
  --menu-count: 3;
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: whitesmoke;
}

header {
  grid-area: header;
}
.header-main {
  width: 100%;
  padding: 0 6vw;
  height: 6vh;
  background-color: whitesmoke;
  box-shadow: 0.1rem 0.1rem 0.7rem #333;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header-main nav {
  display: flex;
  width: 100%;
}
.header-main nav aside {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-main ul {
  height: 100%;
  padding-left: 4vw;
  list-style: none;
  display: flex;
  align-self: center;
}
.header-main ul li {
  position: relative;
}
.header-main ul li a {
  display: block;
  padding: 0 0.625rem;
  height: 100%;
  line-height: 6vh;
  color: #333;
  background-color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  white-space: nowrap;
}
.header-main ul li a:hover {
  background-color: #333;
  color: whitesmoke;
}
/* DROPDOWN STYLING START */
.header-main ul li ul {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  left: -4vw;
  transition: all ease-in-out 100ms;
}
.header-main ul li ul li a {
  white-space: nowrap;
}
ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}
/* DROPDOWN STYLING END */
.store-link {
  margin-left: auto;
}

main {
  min-height: 90vh;
  background-color: whitesmoke;
  margin-top: 6vh;
  display: grid;
}

.note-1 h1 {
  transform: rotate(25deg);
}

footer {
  width: 100%;
  padding: 2vh 2vw;
  height: 20vh;
  background-color: #333;
  color: whitesmoke;
  /* color: #333; <--- Färg vid uppbyggnad */
  box-shadow: -0.1rem -0.1rem 0.7rem #333;
  position: relative;
  bottom: 0;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: repeat(6, 16.6%);
  font-size: 1.2rem;
}
footer a {
  cursor: pointer;
}

/* Jag skippar förkortningen grid-area för att bättre visuellt förstå positioneringen.
Färgerna är för att lättare se placeringen under uppbyggnaden */
.about {
  /* background-color: aqua; */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  /* grid-area: 1 / 1 / 3 / 4; */
}
.vision {
  /* background-color: red; */
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  /* grid-area: 3 / 1 / 4 / 4; */
}
.find-us {
  /* background-color: orange; */
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  /* grid-area: 4 / 1 / 5 / 4; */
}
.questions {
  /* background-color: purple; */
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
  /* grid-area: 5 / 1 / 6 / 4; */
}
.blog {
  /* background-color: plum; */
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
  /* grid-area: 6 / 1 / 7 / 4; */
}
.contact {
  /* background-color: green; */
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 4;
  grid-column-end: 7;
  /* grid-area: 1 / 4 / 7 / 7; */
}
