/* MADE THANKS TO A TUTORIAL BY DANI KROSSING AT https://www.youtube.com/watch?v=hVw9zvTeYoU */

:root {
  /* based on how many li's are inside .header-main ul */
  --menu-count: 4;
}

.mobile-menu-btn {
  display: none;
}

header {
  grid-area: header;
}
.header-main {
  width: 100%;
  padding: 0 6vw;
  height: 6vh;
  background-color: whitesmoke;
  box-shadow: 0.1rem 0.1rem 0.7rem #333;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header-main nav {
  display: flex;
  width: 100%;
}
.header-main nav aside {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-main nav aside img {
  width: 2.7vw;
}

.header-main ul {
  height: 100%;
  padding-left: 4vw;
  list-style: none;
  display: flex;
  align-self: center;
}
.header-main ul li {
  position: relative;
}
.header-main ul li a {
  display: block;
  padding: 0 0.625rem;
  height: 100%;
  line-height: 6vh;
  color: #333;
  background-color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  white-space: nowrap;
}
.header-main ul li a:hover {
  background-color: #333;
  color: whitesmoke;
}
/* DROPDOWN STYLING START */
.header-main ul li ul {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  /* left: -4vw to make it align  */
  left: -4vw;
  transition: all ease-in-out 100ms;
}
.header-main ul li ul li a {
  white-space: nowrap;
}
ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}
/* DROPDOWN STYLING END */

@media only screen and (max-width: 600px) {
  .header-main {
    display: none;
  }
  .mobile-menu-btn {
    display: flex;
    justify-content: center;
    width: 11vw;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    background-color: whitesmoke;
    position: sticky;
  }
  .header-main {
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
  }
  .header-main nav {
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header-main nav aside {
    display: none;
  }
  .header-main ul {
    height: 70%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
  }
  .header-main ul li {
    width: 100%;
    /* calculates 100% height divided by total of menu counts specified at start of CSS (:root {--menu-count: 3;})
       so the menus get equal amount of space
    */
    height: calc(100% / var(--menu-count));
    padding: 0;
    margin: 0;
    border-top: 0.1vh solid #ddd;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    transition: all ease-in-out 100ms;
  }
  .header-main ul li:nth-last-child(1) {
    border-bottom: 0.1vh solid #ddd;
  }
  .header-main ul li a {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
  }
  .header-main ul li a:hover {
    background-color: transparent;
    color: #333;
  }
  .header-main ul li ul {
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  .header-main ul li ul li {
    height: fit-content;
    display: block;
    background-color: #333;
  }
  .header-main ul li ul li a {
    background-color: #333;
    color: whitesmoke;
  }
  .header-main ul li ul li a:hover {
    background-color: #333;
    color: whitesmoke;
  }
  .header-main ul li:focus > ul,
  .header-main ul li:hover > ul {
    display: flex;
    /* visibility and opacity needs to be able to work in firefox */
    visibility: visible;
    opacity: 1;
  }
}
