:root {
  --menu-count: 3;
}
* {
  margin: 0;
  padding: 0;
}
  body {
    width: 100%;
    background-color: whitesmoke;
  }
  main {
    background-color: rgb(201, 201, 201);
  }

  main {
    background-color: whitesmoke;
    margin: 10vh 6vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: repeat(5, 0.1fr);
    row-gap: 10vh;
    justify-content: space-between;
  }
  main section {
    border: 0.2vw solid #333;
  }
  main img {
    height: auto;
    width: 100%;
  }
  main p {
    width: 100%;
  }
  #butterfly {
    grid-area: 3 / 2 / 4 / 3;
  }
  #cats {
    grid-area: 4 / 1 / 5 / 2;
  }
  #crocodiles {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
  }
  #dogs {
    grid-area: 4 / 2 / 5 / 3;
  }
  #lions {
    grid-area: 1 / 2 / 2 / 3;
  }
  #penguins {
    grid-area: 3 / 1 / 4 / 2;
  }
  #rabbits {
    grid-area: 2 / 2 / 3 / 3;
  }
  #teddybears {
    grid-area: 5 / 1 / 6 / 2;
  }
  #unicorns {
    grid-area: 2 / 1 / 3 / 2;
  }
  #zebra {
    grid-area: 5 / 2 / 6 / 3;
  }
  #santa {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4vh;
    background-color: #333;
    color: azure;
  }
  #santa p {
    text-align: center;
    margin: 1vh 2vw;
  }
  #santa img {
    width: auto;
    height: 30vh;
  }

  footer {
    width: 100%;
    padding: 2vh 2vw;
    height: 20vh;
    background-color: #333;
    color: whitesmoke;
    box-shadow: -0.1rem -0.1rem 0.7rem #333;
    position: relative;
    bottom: 0;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(2, 50%);
    font-size: 1.2rem;
  }
  footer a {
    cursor: pointer;
  }

  .about {
    grid-area: 1 / 1 / 2 / 2;
  }
  .vision {
    grid-area: 2 / 1 / 3 / 2;
  }
  .find-us {
    grid-area: 1 / 2 / 2 / 3;
  }
  .questions {
    grid-area: 2 / 2 / 3 / 3;
  }
  .blog {
    grid-area: 1 / 3 / 2 / 4;
  }
  .contact {
    grid-area: 2 / 3 / 2 / 4;
  }
}

@media screen and (max-width: 400px) {
  main {
    grid-template-areas: revert;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  #butterfly {
    grid-row: 1;
  }
  #cats {
    grid-row: 2;
  }
  #crocodiles {
    grid-row: 3;
    width: 100%;
  }
  #dogs {
    grid-row: 4;
  }
  #lions {
    grid-row: 5;
  }
  #penguins {
    grid-row: 6;
  }
  #rabbits {
    grid-row: 7;
  }
  #teddybears {
    grid-row: 8;
  }
  #unicorns {
    grid-row: 9;
  }
  #zebra {
    grid-row: 10;
  }
  .divider-parallax {
    display: none;
  }
